.perfilContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  background-color: #fff;
  min-width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
  min-width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

.banner {
  width: 75%;
  height: 200px;
  border-radius: 12px;
  background: radial-gradient(ellipse at center, #fafafa, #9fc9ef);
  margin-top: 1rem;
  position: relative;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #d8d8d8;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: box-shadow 0.3s;
  z-index: 2;
  /* margin-top: -170px;
  margin-bottom: 100px;; */
  margin-top: -60px;  
  margin-bottom: 1rem;
  border: 4px solid #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* 
.avatar:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
} */

.avatarLabel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.avatarIcon {
  width: 100%;
  height: 100%;
  display: block;
  fill: #555;
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.infoBox {
  font-size: 1.2rem;
  width: 30%;
  flex: 1;
  color: #004080;
}

.alignLeft {
  text-align: left;
}
.alignCenter {
  text-align: center;
}
.alignRight {
  text-align: right;
}

.username {
  font-size: 1.5rem;
  font-weight: bold;
  color: #004080;
}

.username {
  font-size: 1.5rem;
  font-weight: bold;
  color: #004080;
}

.btnContainer {
  display: flex;
  width: 30%;
  min-width: 300px; 
  border: 1px solid #004080;
  border-radius: 999px; 
  overflow: hidden;
  margin-bottom: 2rem;
  background-color: #fff;
}

.salvos {
  flex: 1;
  padding: 0.7rem;
  border: none;
  background: #c9dff4; 
  color: #004080;
  font-weight: 700;
  font-size: 1.3rem; 
  cursor: default; 
  transition: all 0.3s ease;
}

.editarPerfil {
  flex: 1;
  padding: 0.7rem;
  border: none;
  background: transparent;
  color: #6b8bad; 
  cursor: pointer;
  font-size: 1.3rem; 
  font-weight: 600; 
  transition: all 0.3s ease;
}

.editarPerfil:hover {
  background-color: #eef7fb; 
  color: #004080; 
}

.petsContainer {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
  
}

.petCard {
  background: #fff;
  color: #0f4979;
  border-radius: 12px;
  width: 250px;
  padding: 1rem;
  /* box-shadow: 0 4px 12px rgba(0,0,0,0.1); */
  position: relative;
  text-align: center;
  color: #0f4979;
  
}

.petImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 0.3rem;
}

.petNome {
  font-weight: bold;
  text-align: start;
  font-size: 1.3rem;
}

.petRaca {
  font-size: 1.1rem;
  color: #666;
  text-align: start;
}

.petSexo {
  font-size: 1.1rem;
  color: #888;
  text-align: start;
}

.favorite {
  position: absolute;
  bottom: 50px;
  right: 20px;
  color: red;
  font-size: 1.2rem;
  cursor: pointer;

  
  -webkit-user-select: none; 
  -moz-user-select: none;    
  -ms-user-select: none;     
  user-select: none;         
}

.nonFavorite {
  position: absolute;
  bottom: 50px;
  right: 20px;
  color: #ccc;
  font-size: 1.2rem;
  cursor: pointer;

  -webkit-user-select: none; 
  -moz-user-select: none;    
  -ms-user-select: none;     
  user-select: none; 
}

.petsTitulo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #004080;
}

.petsHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 1rem;
}

.addIcon {
  font-weight: 300;     
  font-size: 4rem;   
  color: #004080;  
  line-height: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  text-decoration: none;  

  position: relative;
  top: -0.6rem;
  transition: transform 0.2s ease, color 0.2s ease;
  
}

.configIcon {
  position: absolute;
  top: -3rem;
  color: #004080;
  cursor: pointer;
  z-index: 10;  
  right: 10px;

  transition: transform 0.2s ease, color 0.2s ease;
}

.configIcon:hover, .addIcon:hover {
  opacity: 0.8; 
  transform: translateY(-3px);
  transition: transform 0.2s ease, color 0.2s ease;
}