
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: #000;
  font-weight: 700;
}

.modal {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  max-width: 400px; 
  width: 90%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center; 
}

.titulo {
  margin-bottom: 1rem;
  color: #c62828; /* Vermelho igual ao denuncie */
  font-size: 2rem;
}

.subtitulo {
  margin-bottom: 2rem;
  font-size: 1.3rem;
  color: #333;
}


.botoesContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btnCancelar, .btnSair {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  font-size: 1.3rem;
  transition: filter 0.2s;
}

.btnCancelar {
  background-color: #e0e0e0;
  color: #333;
}

.btnSair {
  background-color: #c62828;
  color: white;
}

.btnCancelar:hover, .btnSair:hover {
  filter: brightness(0.9);
}