.paginaPrivacidade {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
  padding: 2rem 1rem 5rem 1rem;
  background-color: #fff;
  box-sizing: border-box;
}

.tituloPrincipal {
  font-size: 2.2rem;
  font-weight: 700;
  color: #0f4979;
  text-align: center;
  margin-bottom: 2.5rem;
}


.texto {
  width: 100%;
  max-width: 900px; 
  text-align: left;
  color: #0f4979; 
}

.subtitulo {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  border-bottom: 1px solid #eef3f7;
  padding-bottom: 1rem;
}

.texto section {
  margin-bottom: 2rem; 
}

.titulo {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.texto p {
  font-size: 1.5rem;
  line-height: 1.7;
  margin-bottom: 1rem;
}

.lista {
  list-style: disc; 
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.lista li {
  font-size: 1.5rem;
  line-height: 1.7;
  margin-bottom: 0.5rem;
}

.lista li strong {
  font-weight: 600;
}