.containerPrincipal {
 background: #fff;
 min-height: 70vh;
 display: flex;
 gap: 2rem;
 padding: 0 2rem 2rem 2rem;
 justify-content: space-between; 
 width: 100%;
 flex-wrap: wrap; 
}

.containerMeusAnimais,
.adocaoProcesso {
 width: 49%;
 background-color: #F0F9FF;
 display: flex;
 flex-direction: column;
 align-items: center;
 border-radius: 15px;
 margin-top: 1rem;
 padding: 1rem 0;
}

.titulo{
  color: #000;
  font-size: 22px;
  background-color: #B5D2E9;
  border-radius: 7px;
  width: 80%;
  text-align: center;
  margin-bottom: 1rem;
  padding: 0.2rem;
}

.card {
 display: flex;
 align-items: center;
 gap: 3rem; 
 background-color: #B5D2E9;
 border-radius: 15px;
 margin-bottom: 2rem;
 width: 80%;
  position: relative; /* movido daqui .card { position: relative; } */
}

.imgCard {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 120px;
 height: 120px;
 border-radius: 10px;
 padding: 1rem 0 1rem 2rem;
 background: transparent;
}

.imgCard img {
 width: 100%;
 height: 100%;
 object-fit: cover;
 border-radius: 10px;
}

.cardNome h1 {
 font-size: 22px;
 margin-bottom: 0.7rem;
 color: #000;
}

.descricaoCard {
 font-size: 1.1rem;
 color: #000;
}

/* canto superior direito */
.statusSuperior {
 position: absolute;
 top: 10px;
 right: 15px;
 font-size: 1.2rem;
 color: #333;
}

/* canto inferior direito */
.statusInferior {
 position: absolute;
 bottom: 10px;
 right: 15px;
 font-size: 1.2rem;
 color: #333;
}

.verMais {
  background-color: #286699;
  border: none;
  border-radius: 15px;
  padding: 0.5rem 10%;
  font-size: 1rem;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 650;
  margin-top: auto;
}

.verMais a {
  color: #fff;
  text-decoration: none;
}