* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  background-color: #fff; /* ou a cor que você quiser */
  display: block; /* garante que o body ocupe 100% */
  overflow-x: hidden; /* impede rolagem horizontal */
  font-family: "Darker Grotesque", sans-serif;
}

/* Banner com imagem de fundo */
.bannerUm {
  width: 100vw;
  height: 100vh;
  background: url("/banners/banner1.png") no-repeat bottom ;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5vw;
  box-sizing: border-box;
  margin-top: -9rem; 
  padding-top: 9rem; 
}

.bannerAdotar {
  width: 100vw;
  height: 100vh;
  background: url("../../../public/banners/animaisAdocao.png") no-repeat bottom ;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5vw;
  box-sizing: border-box;
}

.bannerDois {
  position: relative;
  width: 100vw;
  height: 80vh;
  background: url("/banner2.png") no-repeat center bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  padding-right: 20vw; 
}

.bannerTres {
  width: 100vw;
  height: 100vh;
  background: url("../../../public/banners/banner3.png") no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: -9rem; 
  padding-top: 9rem; 

  /* padding-left: 5vw; */
  box-sizing: border-box;
}

/* Título e botão */
.homeTitulo {
  max-width: 550px;
  text-align: left;
  margin-left: 17rem;
  margin-top: 7rem;
  font-size: 3.2em;
  line-height: 1.1;
}

.titulo {
  font-size: clamp(2.5rem, 6vw, 4rem);
  font-weight: 700;
  font-family: "More Sugar", cursive;
  color: #286699;
  margin-bottom: 20px;
  -webkit-text-stroke: 2px #286699;
}

.subtitulo {
  font-size: 1.4rem;
  color: #fff;
  cursor: pointer;
  padding: 0.75rem 3rem;
  border-radius: 15px;
  border: none;
  background-color: #4baef2;
  transition: background-color 0.3s ease;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
  margin-right: 3rem;

  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.subtitulo:hover {
  background-color: #1976d2;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Conteúdo abaixo do banner */
.mainContent {
  margin-bottom: 0;
  border-bottom: none;
}

.bannerDois {
  position: relative;
  width: 100vw;
  height: 80vh;
  background: url("../../../public/banners/banner2.png") no-repeat center bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  padding-right: 20vw; /* aumente para afastar do canto direito */
}

.paginaDoar {
 background: #0F4979;
 color: #fff;
 border-radius: 15px;
  padding: 2.5rem 0;     
 max-width: 700px;
 min-width: 40vw;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-right: 2vw; 
 font-size: 1.2rem;
 min-height: 350px;     
}

.tituloDoar {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1.2rem 0;
}

.paginaDoar p {
 margin-bottom: 1.5rem;
 text-align: left;
 font-size: 19px;
 padding: 0 4.5rem 0 4.5rem;
}

.divBotaoDoar {
  display: flex;            
  justify-content: center;  
  gap: 1.5rem;              
  width: 100%;
  margin-top: auto;         
  padding-top: 1.5rem;      
}

.botaoDoar {
 background: #fff;
 border: none;
 border-radius: 15px;
 padding: 0.7rem 2rem;
 font-size: 20px;
 font-weight: bold;
 cursor: pointer;
 transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.botaoDoar:hover {
  background-color: #f9f9f9;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.botaoWrapper {
  display: flex;
  gap: 1.5rem;
}

.paginaDoar button a {
  color: #000;
  text-decoration: none;
}

/* pagina adotar */
.pageComoAdotar {
  width: 100vw;
  height: 100vh;
}

.pageComoAdotarCima {
  background-color: #f0f9ff;
}

.explicacaoAdotar {
  padding: 8rem 4.3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #0f4979;
}

.linhaAdotar {
  height: 3px;
  background-color: #ccc;
  opacity: 0.5;
  width: 100%;
}

.tituloComoAdotar {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #0f4979;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.camposCards {
  display: flex;
  gap: 15rem;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 1rem;
}

.cardComoAdotar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 300px;
  width: 100%;
  gap: 1rem;
}

.cardCirculo {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #b5d2e9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardTitulo {
  font-size: 1.7rem;
  font-weight: 700;
  color: #0f4979;
}

.cardTexto {
  font-size: 1.4rem;
  color: #0f4979;
}

/* Responsividade do Título da Home */
@media (max-width: 1835px) {
  .homeTitulo {
    margin-left: 13rem;
  }
}
@media (max-width: 1653px) {
  .homeTitulo {
    margin-left: 10rem;
  }
}
@media (max-width: 1560px) {
  .homeTitulo {
    margin-left: 7rem;
  }
}
@media (max-width: 1443px) {
  .homeTitulo {
    margin-left: 5rem;
  }
}
@media (max-width: 1374px) {
  .homeTitulo {
    margin-left: 3rem;
  }
}
@media (max-width: 1300px) {
  .homeTitulo {
    margin-left: 1.5rem;
  }
}
@media (max-width: 1300px) {
  .homeTitulo {
    margin-left: 1.5rem;
  }
}
