.containerPrincipal {
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f9ff;
}

.containerNossaMissao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;
  min-height: 100vh;
}


.imgAnimais {
  flex: 1; 
  box-sizing: border-box; 
  
  display: flex;
  justify-content: center; 
  gap: 4rem;
  padding-left: 8rem;
  padding-right: 2rem; 
}

.tituloNossaMissao {
  flex: 1; 
  box-sizing: border-box; 
  
  display: block;
  font-size: 1.5rem;
  color: black;
  font-family: 'Inter', sans-serif;
  text-align: left;
  
 
  padding-right: 5rem; 
}



.cachorro, .gato {
 
  width: 250px; 
  height: 400px; 
  
  
  object-fit: cover;
  
  
  border-radius: 15px;
}


.cachorro {
  margin-top: 8rem;
}

.gato {
  margin-bottom: 8rem;
} 

.tituloNossaMissao h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.tituloNossaMissao p {
  line-height: 1.6;
  margin-bottom: 1rem;
  padding: 0 2rem 0 0;
}

@media (max-width: 900px) {
  .containerNossaMissao {
    flex-direction: column-reverse; 
    gap: 0;
    padding: 3rem 1rem;
  }

  .imgAnimais {
    padding: 0;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 1rem;
  }

  .cachorro, .gato {
    width: 45%; 
    height: auto;
    aspect-ratio: 2/3; 
    margin: 0; 
  }

  .tituloNossaMissao {
    padding: 0 1rem;
    text-align: center;
  }

  .tituloNossaMissao p {
    padding: 0;
  }
}