.pagDoar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('/public/banners/banner4.png') no-repeat center ;
    padding: 2rem;
    background-size: cover;
}

.tituloDoar {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'More Sugar';
    -webkit-text-stroke: 2px #fff;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.card {
  background: #94B9D8;
  border-radius: 12px;
  width: 220px;
  height: 349px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.cardImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 0.8rem;
}

.cardText p {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

.subtitle {
    font-size: 1.5rem;
    color: #fff;
    font-weight: normal;
    margin-bottom: 2rem;
    text-align: center;
    width: 85%;
}

.pagInstituicoes {
  background-color: #f5f5f5;
  padding: 3rem 2rem;
}

.tituloInstituicoes {
  font-size: 1.3rem;
  font-weight: normal;
  color: #000;
  margin-bottom: 2rem;
}

.cardInstituicoes {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 4rem;
}

.instituicoes {
  background-color: #fff;
  border-radius: 12px;
  width: 500px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.imgInstituicoes {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.nomeInstituicoes {
  font-size: 1.3rem;
  color: #000;
  margin-bottom: 0.5rem;
}

.enderecoInstituicoes {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 1rem;
}

.valorInstituicoes {
  font-size: 1rem;
  color: #286699;
  margin-top: 0.5rem;
}

progress {
  width: 100%;
  height: 20px;
  appearance: none;
  border-radius: 10px;
  overflow: hidden;
}

progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background-color: #286699;
  border-radius: 10px;
}

.iconLocal {
  margin-right: 4px;
  display: inline-block;
}