.pagCadastro {
  display: flex;
  height: 100vh;
  width: 200vh;
}

.containerForms {
  width: 50%;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/cadastroBanner.png') no-repeat center center;
  padding: 2rem;
  background-size: cover;
  position: relative;
}

.bannerSessao {
  width: 50%;
  background: #F0F9FF;
}

.logoHeader a {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #286699;
  font-family: 'More Sugar', cursive;
  z-index: 10;
  -webkit-text-stroke: 2px #286699;
;
}

.form {
  background: white;
  padding: 3rem;
  border-radius: 1.5rem;
  box-shadow: 0 8px 24px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 480px;
}

.titulo {
  font-size: 2rem;
  font-weight: bold;
  color: #286699;
  text-align: center;
}

.subTitulo {
  text-align: center;
  color: #286699;
  margin-bottom: 2rem;
  font-weight: 500;
}

.botoesRedes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.botaoRede {
  display: flex;;
  align-items: center; /* centraliza verticalmente */
  justify-content: center; /* centraliza horizontalmente */
  gap: 0.5rem; /* espaço entre ícone e texto */
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  max-width: 100%;
  width: 300px;
  background-color: #fff;
  color: #286699;
  border: 1px solid #286699;
}

.google {
  width: 1.2rem;
  margin-right: 11px;
}

.apple {
  width: 1.2rem;
  margin-right: 11lpx;
}


.divisoria {
  text-align: center;
  margin: 1.5rem 0;
  color: #286699;
  gap: 1rem;
}

label {
  display: block;
  margin-bottom: 1rem;
}

label span {
  display: block;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.botaoProx {
  width: 100%;
  background: #286699;
  color: white;
  padding: 1rem;
  border-radius: 0.75rem;
  font-weight: bold;
  margin-top: 1rem;
  cursor: pointer;
}

.botaoProx:hover {
  background: #fff;
  color: #286699;
}

.loginLink {
  text-align: center;
  margin-top: 1rem;
  color: #545454;
}

.loginLink a {
  color: #286699;
  text-decoration: none;
}

.loginLink a:hover {
  text-decoration: underline;
}

.grupoInput {
  margin-bottom: 1.5rem;
  color: #286699;
}

.inputLogin {
  border: 1px solid #286699;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
  background-color: #fff;
  color: #000;
}