.pageCentralAdocao {
  margin-top: 130px; /* ou calculado dinamicamente */
  min-height: calc(100vh - 130px); /* garante que ocupe a tela toda */
  padding: 2rem;
  background-color: #fff;
  color: #0f4979;
}


.titulo {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

.subtitulo {
  text-align: center;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  gap: 2rem;
}

.filtros {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  max-width: 250px;
}

.filtros label {
  font-weight: 600;
}

.filtros select {
  padding: 0.5rem;
  border: 1px solid #6487a3;
  border-radius: 5px;
  background-color: white;
  color: #666;
}

.listaPets {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1.5rem;
}

.cardPet {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  background-color: #f9f9f9;
}

.cardPet img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 0.5rem;
}
