.containerPrincipal {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color:  #f0f9ff;
   min-height: 80vb;
   gap: 5rem;
}

.card {
    background-color: #ffff;
    border-radius: 7%;
    width: 330px; 
    height: 376px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card h1 {
    font-family: 'More Sugar', sans-serif;
    color: #286699;
    font-size: 5rem;
    margin-top: 8rem;
}

.card p {
    font-family: 'Darker Grotesque', sans-serif;
    color: black;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;

}