* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

/* Banner com imagem de fundo */
.bannerUm {
  width: 100vw;
  height: 100vh;
  background: url('/banner1.png') no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5vw;
  box-sizing: border-box;
}

/* Título e botão */
.homeTitulo {
  max-width: 550px;
  text-align: left;
  margin-left: 17rem;
  margin-top: 7rem;
}



.titulo {
  font-size: clamp(2.5rem, 6vw, 4rem);
  font-weight: 700;
  font-family: 'More Sugar', cursive;
  color: #286699;
  margin-bottom: 20px;
  -webkit-text-stroke: 2px #286699;
}

.subtitulo {
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  padding: 0.75rem 3rem;
  border-radius: 15px;
  background-color: #4BAEF2;
  transition: background-color 0.3s ease;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
}

.subtitulo:hover {
  background-color: #1976d2;
}

/* Conteúdo abaixo do banner */
.mainContent {
  margin-bottom: 0;
  border-bottom: none;
}


.bannerDois {
  position: relative;
  width: 100vw;
  height: 80vh;
  background: url('/banner2.png') no-repeat center bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  padding-right: 20vw; /* aumente para afastar do canto direito */
}


.paginaDoar {
  background: #286699;
  color: #fff;
  border-radius: 15px;
  padding: 0 0 4rem 0;
  max-width: 700px;
  min-width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2vw; /* afasta o card da borda direita */
}


.tituloDoar {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1.2rem 0;
}

.paginaDoar p {
  margin-bottom: 1.5rem;
  text-align: left;
  font-size: 19px;
  padding: 0 4.5rem 0 4.5rem;
}

.paginaDoar button {
  background: #4BAEF2;
  border: none;
  border-radius: 15px;
  padding: 0.7rem 2rem;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.paginaDoar button a {
  color: #fff;
  text-decoration: none;


  /* Responsividade do Título da Home */
  @media (max-width: 1835px) {
  
    .homeTitulo {
      margin-left: 13rem;
    }
  }
  @media (max-width: 1653px) {
  
    .homeTitulo {
      margin-left: 10rem; 
    }
  }
  @media (max-width: 1560px) {
  
    .homeTitulo {
      margin-left: 7rem; 
    }
  }
  @media (max-width: 1443px) {
  
    .homeTitulo {
      margin-left: 5rem; 
    }
  }
  @media (max-width: 1374px) {
  
    .homeTitulo {
      margin-left: 3rem; 
    }
  }
  @media (max-width: 1300px) {
  
    .homeTitulo {
      margin-left: 1.5rem;
    }
  }
  @media (max-width: 1300px) {
  
    .homeTitulo {
      margin-left: 1.5rem;
    }
  }
}