.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.mainContent {
  flex: 1; 
  width: 100%;
  padding-top: 9rem; 
}


@media (max-width: 768px) {
  .mainContent {
    padding-top: 6rem; 
  }
}