.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  width: 100%;
  overflow-x: hidden;
  position: relative;;
}

.mainContent {
  width: 100%;
  padding-top: 150px; 
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}


