* {
  font-family: 'Darker Grotesque', sans-serif;
}

.navbar {
  display: flex;
  width: 100%;
  position: fixed;
  top: 40px;
  left: 0;
  background-color: white;
  align-items: center;
  max-height: 90px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 18px;
}

.topBar {
  width: 100vw;
  height: 40px;
  background-color: #286699;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
}

.navLogo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 4rem;
  max-width: 20vw;
  height: auto;
}

.navCategorias {
  /* display: flex;
  gap: 5rem;
  /* display: flex;
  gap: 5rem;
  margin: 0;
  padding: 0;
  width: auto;
  align-items: center;
  height: 100%; */
  display: flex;
  gap: 3rem;
  padding: 0 2rem;
}

.navCategorias li a, button.navLink {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
}

.botoesCadastro {
  display: flex;

  margin-left: auto;
  padding: 0 2rem;
  gap: 4rem;
  font-size: 23px;
}

.botoesCadastro button {
  font-size: 1.5rem;
  font-weight: 600;
  min-width: 250px;
  max-height: 50px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.5rem;
  transition: 0.3s;
}

.cadastroONG {
  background-color: #286699;
  color: white;
}

.cadastroONG:hover {
  background-color: aliceblue;
  color: #286699;
}

.cadastro {
  background-color: #4baef2;
  color: white;
}

.cadastro:hover {
  background-color: #1976d2;
}


.navLink {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: #fff;
  padding: 0;
  transition: color 0.2s ease;
}


@media (max-width: 1513px) {
  .navCategorias {
    gap: 2rem;
    padding: 0 3rem;
  }

  .botoesCadastro {
    padding: 0;
    padding-right: 2rem;
    padding-left: 0.5rem;
  }

  button {
    min-width: 296.61px;
    max-height: 46.38px;
  }

  .navLogo {
    margin-right: 0rem;
  }
  .navCategorias {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  @media (max-width: 1376px) {
  }
  .navCategorias {
    gap: 1.5rem;
  }
  .botoesCadastro {
    gap: 1rem;
  }
}

.perfilLink {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  text-decoration: none;
}

.perfilUsuario {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
  margin-right: 5rem;
  font-weight: 500;
  color: #333;
  font-size: 1.2rem;
  list-style-type: none;
}

.perfilUsuario svg {
  color: black;
}

.usernameText {
  color: #000;
  font-weight: 700;
  cursor: pointer;
  
 
}

.notificacao {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: .3s;
  border: none;
}

.bell {
  width: 18px;
}

.bell path {
  fill: #000;
}

.button:hover .bell {
  animation: bellRing 0.9s both;
}

/* bell ringing animation keyframes*/
@keyframes bellRing {
  0%,
  100% {
    transform-origin: top;
  }

  15% {
    transform: rotateZ(10deg);
  }

  30% {
    transform: rotateZ(-10deg);
  }

  45% {
    transform: rotateZ(5deg);
  }

  60% {
    transform: rotateZ(-5deg);
  }

  75% {
    transform: rotateZ(2deg);
  }
}

.button:active {
  transform: scale(0.8);
}
