.navbar {
  width: 100vw;
  min-width: 100vw;
  position: fixed;
  top: 40px;
  left: 0;
  background-color: white;
  display: flex;
  align-items: center;
  height: 90px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  z-index: 1000;
  font-size: 18px;
}

/* Barra azul superior vazia */
.topBar {
  width: 100vw;
  height: 40px; /* altura da faixa azul */
  background-color: #286699;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
}


.navCategorias {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  width: auto;
  align-items: center;
  height: 100%;        
}

.navLogo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 4rem; /* espaço entre logo e categorias */
  max-width: 20vw; /* largura fixa para o logo */
  height: auto;
}

.navCategorias {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  width: auto;
}

.navCategorias li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  margin-right: 3rem;
}

.botaoCadastro {
  display: flex;
  align-items: center;
  margin-left: auto; /* Alinha à direita */
  margin-right: 5rem;
  gap: 4rem;
}

.cadastroONG {
  background-color: #286699;
  color: white;
  border: none;
  padding: 0.7rem 2.5rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.cadastroONG:hover {
  background-color: aliceblue;
  color: #286699;
}

.cadastro {
  background-color: #4BAEF2; /* azul */
  color: white;
  border: none;
  padding: 0.7rem 4.5rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.cadastro:hover {
  background-color: #1976d2;
}

.formSearch {
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 24px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.07);
}

.searchWrapper {
  position: relative;
  width: 400px;
}                        

.formSearch {
  display: flex;
  align-items: center;
  background: #eaeef7;
  border-radius: 24px;
  padding: 2px 12px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.07);
  position: relative;
}

.iconSearch {
  display: flex;
  align-items: center;
  color: #b0b8c1;
  margin-right: 8px;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.inputSearch {
  border: none;
  background: transparent;
  color: #666768;
  padding: 8px 8px 8px 36px; /* espaço para o ícone */
  outline: none;
  font-size: 1rem;
  width: 100%;
}

.inputSearch::placeholder {
  color: #858585;
  opacity: 1;
}

