* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
  width: 100%; 
  min-height: 100vh; 
  margin: 0 auto;
  font-weight: 600; 
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: inherit;
  color: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

select, input, textarea {
  font-weight: 500;
}


