#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

* {
    padding: 0;
    margin: 0;
}

/* Mobile */
@media screen and (max-width: 480px) {
    body {
        background: red;
    }
}

/* Extra small devices */
@media (min-width: 481px) and (max-width: 767px) {
    body {
        background: orange;
    }
}

/* Small tablet */
@media (min-width: 768px) and (max-width: 991px) {
    body {
        background: pink;
    }
}

/* tablet / laptop */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        background: blueviolet;
    }
}

/* Desktop */
@media (min-width: 1200px) and (max-width: 1999px) {
    body {
        background: yellow;
    }
}

/* Extra large */
@media (min-width: 1920px) {
    body {
        background: black;
    }
} 
