* {
    padding: 0;
    margin: 0;
}

#root {
  margin: 0 auto;
  line-height: 1.5;
  font-weight: 400; 

  color-scheme: light dark;
  
  font-synthesis: none;
}

::marker {
  color: rgba(255, 255, 255, 0.87);
}

a {
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

